header {
  background-color: #F4A7B9; 
  position: fixed; 
  top: 0;          
  left: 0;         
  width: 100%;   
  z-index: 1000;   

  .navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0px 20px 0px 0px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 80px;
  }

  .profile-pic {
    width:50px;
    border-radius:50%;
    border:2px solid black;
    z-index: 10;
    cursor: pointer;
  }
  
  .profile-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .logo {
    box-shadow: none;
    outline: none;
    width: 120px; 
  }

  .logo-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

  }

  p-button {
    margin: 0 10px; 
  }
  
  ::ng-deep .p-button {
    border: none;
    border-radius: 5px; 
    padding: 8px 15px; 
    font-weight: bold;
    transition: background-color 0.3s ease; 
  }
}
  