header {
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    margin: 0;
    padding: 30px 20px;
    background-color: #F4A7B9; 
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */

    position: fixed; /* Fix the header to the viewport */
    top: 0;          /* Position it at the top */
    left: 0;         /* Align it to the left edge */
    width: 100%;     /* Make sure it spans the full width of the screen */
    z-index: 1000;   /* Ensure it's above other elements */
    /* background-color: white; Set a background color to make sure content behind it isn't visible */


  .nav .profile-button {
    background-color: #98DAF5; 
    /* color: white; */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 20px; 
    left: 300px; 
  }
  
  .nav .posts-button {
    background-color: #98DAF5; 
    /* color: white; */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 20px; 
    left: 150px; 
  }

  .nav .posts-button:hover {
    background-color: #77BFD7; /* slightly darker green on hover */
  }

  .nav .profile-button:hover {
    background-color: #77BFD7; /* slightly darker green on hover */
  }

  .logo {
    box-shadow: none;
    outline: none;
    width: 120px; 
    /* border-radius: 50%;  */
    /* border: 2px solid black;  */
    position: absolute;
    top:-20px; 
    left: -15px; 
    z-index: 10; 
    }

  .profile-pic {
    width:50px;
    /* height:50px; */
    border-radius:50%;
    border:2px solid black;
    position:absolute;
    top:15px;
    right: 50px;
    z-index: 10;
  }

  .logo-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
}
  


 

