
<main>
  <header>
    <div>
  
      <img class="profile-pic" src="/assets/profile-pic.png" alt="profile" aria-hidden="true">
    
    </div>

    <div class="nav">
      <button class="logo-button" (click)="navigateToHome()">
        <img class="logo" src="/assets/logo.png" alt="logo">
      </button>

      <button class="posts-button" (click)="navigateToPosts()">Posts</button>
      <button class="profile-button" (click)="navigateToProfilePage()">Profile Page</button>
    </div>

  </header>
  <router-outlet></router-outlet>



<!-- <router-outlet /> -->
