header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: #F4A7B9; /* light background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow */
  }
  
  .logo h1 {
    margin: 0;
    font-size: 24px;
    color: #333; /* darker text color */
  }
  
  .logo {
    box-shadow: none;
    outline: none;
    width: 100px; /* Adjust size */
    height: 100px; /* Adjust size */
    border-radius: 50%; /* Makes the image circular */
    border: 2px solid black; /* Optional: Adds a white border around the circle */
    position: absolute;
    top:2px; /* Moves it up to overlap the header */
    left: 10px; /* Adjust to position it slightly inside */
    z-index: 10; /* Makes sure it stays on top of the header */
    }

  .profile-pic {
    width:70px;
    /* height:50px; */
    border-radius:50%;
    border:2px solid black;
    position:absolute;
    top:12px;
    right: 10px;
    z-index: 10;
  }
  
  .nav .posts-button {
    background-color: #4F0330; /* green button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 25px; /* Moves it up to overlap the header */
    left: 150px; /* Adjust to position it slightly inside */
  }

  .nav .profile-button {
    background-color: #034F30; /* Dark teal button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 25px; /* Matches the posts button */
    left: 300px; /* Adjust positioning to the right of the posts button */
}

  
  .nav .posts-button:hover {
    background-color: #a70968; /* slightly darker green on hover */
  }


section {
  
}
  
  .post{
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
  }
  
  .post:hover {
    transform: scale(1.1);
  }
  
  .post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
