<div class="profile-page">
  <!-- Profile Picture and Info -->
  <div class="profile-header">
    <img src="assets/profile-pic.png" alt="Profile Picture" class="profile-pic">
      <div *ngIf="loading">Loading profile...</div>
      <div *ngIf="error">{{ error }}</div>
      <div *ngIf="!loading && !error">
      <h1>Welcome, {{profile.first_name }} {{ profile.last_name }}</h1>
      <p>Email: {{profile.email }}</p>
      <p>Username: {{ profile.username }}</p>
      <p>Account Created: {{ profile.creation_date }}</p>
  </div>
  </div>

  <!-- Listings and Watchlist -->
  <div class="lists-container">
    <!-- User's Listings -->
    <div class="listing">
      <h3>Your Listings</h3>
      <ul>
        <li *ngFor="let item of profile.listings">
          {{ item.title }} - {{ item.location }}
        </li>
      </ul>
    </div>

    <!-- User's Watchlist -->
    <div class="watchlist">
      <h3>Your Watchlist</h3>
      <div *ngFor="let item of watchlistItems">
        <div class="watchlist-item">
          <div class="watchlist-details">
            <h4>{{ item.title }}</h4>
            <p>{{ item.location }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>