.product-listing {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin-top: 80px; 
}

.product-item {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  background-color: #f9f9f9;
  align-items: center;
}

.product-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 5px; 
}

.product-title {
  font-size: 1.5em;
}

.product-price {
  font-size: 1.2em;
  color: #d9534f;
}

.subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-address {
  font-size: 1em;
  color: #777;
  margin-bottom: 10px; /* Space between address and image */
}

.priceCheck-container {
  height: 40px; 
  overflow: hidden; 
  position: relative; 
  /* background-color: #78d5fa; */
}

.listing-priceCheck {
  width: 80px; 
  height: auto; 
  object-fit: cover; 
  margin: 0;
  position: relative;
  top: -15px;
  left: 6px;
  margin: 0;
}

.product-image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  gap: 20px;
  padding: 20px;
  /* background-color: #a7bbf4; */
}

.product-description {
  font-size: 1em;
  color: #555;
  background-color: #F4A7B9;
  width: 80%;
  min-height: 300px;
  padding: 20px;
  border-radius: 50px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0px;
  font-size: 0.9em;
  color: #555;
  background-color: #F4A7B9;
  border-radius: 50px;
  width: 20%;
  align-items: center;
}

.num-bed, .num-bath, .shared, .square-footage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image-carousel {
  display: flex;
  align-items: center;
}

.image-carousel img {
  width: 90%;
  max-width: 1000px;
  height: auto;
  border: black solid 5px;
  border-radius: 20px;
}

.image-carousel button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.heart-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.heart-icon {
  width: 24px;
  height: 24px;
  fill: #ccc; /* Default gray color */
  transition: fill 0.3s ease; /* Smooth color change */
}

.heart-button.active .heart-icon {
  fill: red; /* Active state (selected) */
}