<div class="product-listing">
    <div class="product-item">
      <div class="product-header">
        <span class="product-title">{{post.title}}</span>
        <span class="product-price">${{post.listed_price}}</span>
      </div>
      <div class="product-address">
        <span>{{post.addr}}</span>
      </div>

      
      <div class="image-carousel">
        <button (click)="prevImage()">&#9664;</button> <!-- Left arrow -->
        <img [src]="images[currentIndex]" alt="Apartment Image">
        <button (click)="nextImage()">&#9654;</button> <!-- Right arrow -->
      </div>


      <div class="product-description">
        <p>{{post.about}}</p>
      </div>
    </div>
    <!-- Repeat .product-item for more listings -->
  </div>