
.content {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  align-items: center;
  /* height: 100vh; */

  .about{
    background-color: #F4A7B9;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 30px;
    width: 50%; 
    overflow: auto;    
  }
  
.welcome-img {
    /* height: 80vh; */
    max-width: 50%;
    max-height: 50%;;
    margin: 30px;
    background: none;
  }
}  