

<section class="content">
    <div class="about">
      <h1 style="text-align: center;">About MiMo</h1>
      <p>MiMo aims to provide Case Western Reserve University students with a platform to advertise subleasing opportunities to other students. Unlike the existing off-campus housing website, MiMo is built for students to interact with one another in a trusted environment.</p>
    </div>
    <img class="welcome-img" src="/assets/full_logo.png" alt="logo">
    <button routerlink="/messages">Messages</button>

  </section>
